.task-item-update-timestamp {
    font-size: 10px;

    justify-content: left;

    display: flex;
    position: absolute;
    top: 87%;
    left: 3%;
}

.task-item-header {
    width: calc(100% - 20%);
    margin-right: calc(5% - 10px);
    border: none;

    margin-top: 2px;
    margin-bottom: 10px;
    font-size: 1.20rem;
    font-weight: 600;
    text-align: center;
}

.task-item-description {
    margin-right: calc(5% - 10px);
    border: none;

    width: calc(100% - 20%);
    resize: none;
    height: fit-content;

    display: flex;
    justify-content: left;
}

.task-item-complete-indicator {
    box-sizing: border-box;

    position: absolute;
    top: 0%; 
    right: 0%;

    width: 10%;
    min-width: 40px;
    height: 100%;
}

.task-item-complete-indicator.active {
    background-color: green;
}

.task-item-complete-indicator.inactive {
    background-color: lightslategray;
}

.task-kebab-menu {
    position: absolute;
    top: 6px;
    left: 16px;

    display: flex;
}

.task-item-edit-buttons-container, .task-item-delete-buttons-container {
    position: absolute;
    top: 77%;
    left: 35%;
}

.task-item-edit-buttons-container > button, .task-item-delete-buttons-container > button {
    margin-left: 5px;
    margin-right: 5px;
}

.highlight-border {
    border: 1px solid gray;
    border-radius: 10px;
}

.task-item-confirm-option-container > * > button {
    border-radius: 4px;
}

.task-item-cancel-button:hover {
    background: lightcyan;
}

.task-item-update-button:hover {
    background: lightgreen;
}

.task-item-delete-button:hover {
    background: crimson;
}