.task-item-update-timestamp {
    font-size: 10px;

    justify-content: left;

    display: flex;
    position: absolute;
    top: 85%;
    left: 2%;
}

.task-item-header {
    margin-top: 2px;
    margin-bottom: 0px;
}

.task-item-description {
    padding-left: 10%;
    padding-right: calc(10% - 10px);
    padding-bottom: 10px;
    overflow: wrap;
}

.task-item-complete-indicator {
    box-sizing: border-box;

    position: absolute;
    top: 0%; 
    right: 0%;

    width: 10%;
    height: 100%;
}

.task-item-complete-indicator.active {
    background-color: green;
}

.task-item-complete-indicator.inactive {
    background-color: lightslategray;
}