<app-options-menu 
    class="task-kebab-menu" 
    (deleteTask)="allowDeleteTask()"
    (allowUpdates)="allowTaskEdit($event)"
/>
<input 
    class="task-item-header"
    [ngClass]="task.completed ? 
        editable ? 'strikethrough highlight-border' : 'strikethrough' : 
        editable ? 'highlight-border' : 'null'
        " 
    [ngModel]="task.title"
    [readonly]="!editable"
    (ngModelChange)="handleChange('title', $event)"
    id="title"
/>
<textarea 
    [rows]="3"
    #taskDescription
    [ngClass]="task.completed ? 
        editable ? 'task-item-description strikethrough highlight-border' : 'task-item-description strikethrough' : 
        editable ? 'task-item-description highlight-border' : 'task-item-description'" 
    [ngModel]="task.description"
    [readonly]="!editable"
    (ngModelChange)="handleChange('description', $event)"
    id="description"
></textarea>
<div 
    [ngClass]="task.completed ? 'task-item-complete-indicator active' : 'task-item-complete-indicator inactive'"
    (click)="toggleComplete()"
></div>
<div class="task-item-update-timestamp">
    Changed: {{translateDate()}}
</div>
<div class="task-item-confirm-option-container">
    <div 
        [ngClass]="editable ? 'task-item-edit-buttons-container' : 'task-item-edit-buttons-container hidden'"
    >  
        <button class="task-item-cancel-button" (click)="cancelTaskEdit()">
            Cancel
        </button>
        <button class="task-item-update-button" (click)="updateTask()">
            Update
        </button>
    </div>
    <div 
        [ngClass]="allowDelete ? 'task-item-delete-buttons-container' : 'task-item-delete-buttons-container hidden'"
    >  
    <button class="task-item-cancel-button" (click)="cancelDeleteTask()">
        Cancel
    </button>
    <button class="task-item-delete-button" (click)="removeTask()">
        Delete
    </button>
</div>
</div>