.task-list-container {
    width: 100%;

    margin: auto;
    padding-top: inherit;

    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-auto-rows: 1fr;
    column-gap: 50px;
    row-gap: 50px;

    position: relative;

    justify-content: center;
    align-items: center;
}

.task-list-item {
    width: 95%;
    height: 80%;
    display: flex;
    flex-direction: column;

    justify-content: left;
    align-items: center;

    position: relative;
    overflow: hidden;

    border: solid 1px gray;
    border-radius: 30px;
    padding: 10px;
    margin-bottom: 30px;
}

@media only screen and (max-width: 1350px) {
    .task-list-container {
        grid-template-columns: 450px 450px;
    }
}

@media only screen and (max-width: 1000px) {
    .task-list-container {
        grid-template-columns: 450px;
        row-gap: 20px;
    }
}

@media only screen and (max-width: 450px) {
    .task-list-container {
        grid-template-columns: 100vw;
        row-gap: 20px;

        overflow: visible;
    }
}