.task-list-container {
    width: 80%;

    margin: auto;

    display: flex;
    flex-direction: column;

    position: relative;

    justify-content: center;
    align-items: center;
}

.task-list-item {
    width: 100%;
    display: flex;
    flex-direction: column;

    justify-content: left;
    align-items: center;

    position: relative;
    overflow: hidden;

    border: solid 1px gray;
    border-radius: 30px;
    padding: 10px;
    margin-bottom: 30px;
}