.page-header {
    width: 100vw;
    display: grid;
    grid-template-columns: 40% 55%;
    column-gap: 5%;

    background-color: rgb(62, 163, 92);
}

.header-container {
    height: 2.7em;
    width: 100%;
    align-content: center;
    text-align: center;

    padding: 10px 0px 10px 0px;
}

.page-header > .left {
    padding-left: 30px;
    text-align: left;
}

.page-header > .right {
    padding-right: 30px;
    text-align: right;
}

.header-content.main {
    font-size: 1.2em;
}

.header-content.details {
    font-size: 1em;
}

@media only screen and (max-width: 400px) {
    .header-content.main > .hideable, .header-content.details > .hideable {
        display: none;
    }
}