.page-header {
    width: 100wv;
}

.header-container {
    height: 2.5em;
    width: 100%;
    align-content: center;
    text-align: center;
    background-color: rgb(20, 241, 68);
    padding: 10px 0px 10px 0px;

    display: grid;
    grid-template-columns: 40% 55%;
    column-gap: 5%;
}

.header-container > p {
    font-size: 1.8em;
}

.header-container > .left {
    padding-left: 30px;
    text-align: left;
}

.header-container > .right {
    padding-right: 30px;
    text-align: right;
}