.options-menu-image-container {
    height: 20px;
    width: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.options-menu-image-container:hover, .options-menu-image-container.active {
    background-color: lightgray;
}

.options-menu-image {
    height: 80%;
}

.options-menu {
    z-index: 5;
    background-color: white;
}

.options-menu > * > img {
    height: 0.8rem;
}

.options-menu > div {
    border: 1px gray solid;
    border-radius: 5px;
    width: 80px;

    display: flex;
    align-items: center;

    height: 0.9rem;
    margin-left: 5px;
    margin-bottom: 1px;
    padding-left: 5px;

    cursor: pointer;
}

.options-menu > div > span {
    padding-left: 4px;
    font-size: 0.8rem;
}

.options-menu-edit:hover {
    background-color: lightblue;
}

.options-menu-delete:hover {
    background-color: rgb(255, 8, 8);
}