/* You can add global styles to this file, and also import other style files */
body, p, span, div {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.strikethrough {
    text-decoration: line-through;
}

h3 > .strikethrough {
    font-weight: 100;
}

.hidden {
    display: none;
}